<h1>Todo List #<%= @id %></h1>

<ul>
<<<<<<< HEAD
    <h2><%= @list_name %></h2>
    <li>
        <input type="checkbox"></input>
        <span><%= @first_todo_description %></span>
        <strong><%= @first_todo_pomodoro_estimate %></strong>
    </li>
    <li>
        <input type="checkbox"></input>
        <span><%= @second_todo_pomodoro_estimate %></span>
        <strong><%= @second_todo_pomodoro_estimate %></strong>
    </li>
    <li>
        <input type="checkbox"></input>
        <span><%= @third_todo_description %></span>
        <strong><%= @third_todo_description %></strong>
=======
    <h2>list_name</h2>
    <li>
        <input type="checkbox"></input>
        <span>todo_description</span>
        <strong>"pomodoro_estimate"</strong>
    </li>
    <li>
        <input type="checkbox"></input>
        <span>todo_description</span>
        <strong>pomodoro_estimate</strong>
    </li>
    <li>
        <input type="checkbox"></input>
        <span>todo_description</span>
        <strong>pomodoro_estimate</strong>
>>>>>>> 46873ebbf124fe0376c11be4995011acf1538498
    </li>
</ul>